@import url('https://fonts.googleapis.com/css?family=Text+Me+One');

body {
  background: url("img/BackgroundImage.jpg");
  font-family: 'Text Me One', sans-serif;    
  margin: 0px;
  padding: 0px;

}

/* HEADER*/

header {
  display: flex;  
  align-items: center;
  justify-content: flex-start;
  height: auto;
  background-color:  whitesmoke;
  font-size: 1.2em;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(156,156,156,1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(156,156,156,1);
  box-shadow: 0px 2px 5px 0px rgba(156,156,156,1);
}

.logo {
  width: 4vw;
}

.index {
  display:flex;
  justify-content: space-around;
  align-items: center;
  width: 10vw;
  padding: 5px;
  margin-top: 2px;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin-left: auto;
  margin-right: 60px;
  width: 40vw;
}

.list li {
    display: flex;
    justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
}

/* ABOUT US */

.title {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  margin: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  -moz-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  margin: 40px 350px 15px 350px;

} 

.cuerpo {
  -webkit-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  -moz-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  background-color:  rgba(245, 245, 245, 0.534);
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 200px;
  margin-right: 200px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  min-width: 70vw;
}

.aboutus {
  margin-top: 10px;
}

.aboutus p {
   margin-left: 50px;
  margin-right: 50px;
  font-size: 1.2em;
  background-color: whitesmoke;    
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.us {
  display:flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  border: solid 1px whitesmoke;
  padding-bottom: 10px;
}

/* FOTOS Y DESCRIPCIONES */

.primera {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.foto {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

.uno {
  background-image: url('img/aboutUs mari.png');
}

.primera p {
  width: 50vw;
  margin-left: 15px;
  background-color: whitesmoke;  
  padding: 5px;

}

.dos {
  background-image: url('img/aboutUs Cata.png');
  width: 30%;
  
}

.tres {
  background-image: url('img/aboutUs Aldi.jpg');
  width: 100%;

}

.cuatro {
  background-image: url('img/aboutUs Vicki.jpg');
  
}

/* FOOTER */

footer {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  height: 6w;
  background-color:  whitesmoke;
  font-size: 1em;
  bottom: 0px;
  margin-top: 10px;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 5vw;
}

.datos {
  margin: 10px;
  text-align: center;
}

.RRSS {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
}
/* BUTTON */

.buttons {
  display: flex;
  flex-direction: column;
  list-style: none;/*
  margin-left: auto;*/
  margin-right: 50px;
  text-align: center;
}

.button {
  border: 1px solid #dcdcdf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #eae8fc;
  height: 20px;
  width: 150px;
  margin: 10px;
  padding: 5px;
  -webkit-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  -moz-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  /* Styles */

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  header ul {
    justify-content: space-around;
    list-style: none;
    margin: auto;
    width: 90%;
    padding: 2vw;
    border-top: 1px solid grey;
  }

  .logo {
    padding-right: 5px;
  }

  .list li {
    display: flex;
    justify-content: space-around;
}

.title {
  margin-right: auto;
  margin-left: auto;
  width: 50vw;
} 

.cuerpo {
  margin: auto;
  margin-bottom: 15px;
}

footer {
 min-height: 100px;
 width: 100vw;
}

}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    /* Styles */

    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-items: center;
      width: 100vw;
      position: static;
    }
  
    header ul {
      justify-content: space-around;
      flex-direction: column;
      list-style: none;
      width: 90%;
      margin-top: 0px; 
      padding: 2vw;
      margin: auto;
    }

    .logo { 
      padding-right: 8px;
    }
  
    .list li {
      justify-content: space-around;
      padding: 5px;
      margin: 4px;     
      border-top: 1px solid grey;

  }

  .title {
    margin-right: auto;
    margin-left: auto;
    width: 50vw;
  } 
  
  .cuerpo {
    margin: auto;
    margin-bottom: 15px;
  }
  
  footer {
   min-height: 100px;
   width: 100vw;
  }
  
  .datos {
    display:none;
  }
}