
body {
    background-image: url(BackgroundImage.jpg);
    font-family: 'PT Sans Narrow', sans-serif
}

.flex-container{
  display: flex;
  flex-direction: column;
  align-content: baseline;
  margin:13px
}

#c2, #c4{
  display: flex;
  flex-direction: column;
  margin-right: -500px
}

.testimonio{
    background-color:rgb(222, 232, 233);
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 0px rgb(90, 106, 139);
    padding: 30px
}

.testimonio {
    width: 400px;
    height: 130px;
    text-align: center;
    font-size: 2em;
    position: relative;
  }
  
  .testimonio::before {
    content: " “ ";
    color: black;
    position: absolute;
    top: 00px;
    left: -10px;
    width: 60px;
    font-size: 250%
  }
  
  .testimonio:after{
    content: " ” ";
    color: black;
    position: absolute;
    bottom: -60px;
    right: -10px;
    width: 60px;
    font-size: 250%
  }
  
  .testimonio:first-letter {
    color:black;
    font-size: 150%
    }
 
    #t2, #t4{
      left:900px
    }

    /*@media only screen and (min-device-width : 667px) and (max-device-width : 768px) {
      .flex-container{
          display: flex;
          flex-direction: column;
          justify-content: space-between
      }

  
      .testimonio{
          display: flex;
          min-height: 100px;
          width: 100px;
          color: white;
          margin-left: 30px;
          margin-right: 30px;
          margin-bottom: 40px;
          align-items: center;
          justify-content: center
          
          }
  
   }
  
  @media only screen and (min-device-width: 300px) and (max-device-width: 750px) and (-webkit-min-device-pixel-ratio: 2) {
      .flex-container{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
      }
  
  }
  */

  .banner, .footer{
    border: 5px solid black;
    background-color:black;
    color: white;
    margin: 20px
  }