@import url('https://fonts.googleapis.com/css?family=Text+Me+One');

body {
  background: url("img/BackgroundImage.jpg");
  font-family: 'Text Me One', sans-serif;    
  margin: 0px;
  padding: 0px;

}

/* HEADER*/

header {
  display: flex;  
  align-items: center;
  justify-content: flex-start;
  height: auto;
  background-color:  whitesmoke;
  font-size: 1.2em;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(156,156,156,1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(156,156,156,1);
  box-shadow: 0px 2px 5px 0px rgba(156,156,156,1);
}

.logo {
  width: 4vw;
}

.index {
  display:flex;
  justify-content: space-around;
  align-items: center;
  width: 10vw;
  padding: 5px;
  margin-top: 2px;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin-left: auto;
  margin-right: 60px;
  width: 40vw;
}

.list li {
    display: flex;
    justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
}

/* ABOUT US */

.title {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  margin: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  -moz-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  margin: 40px 350px 15px 350px;

} 

.cuerpo {
  -webkit-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  -moz-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  background-color:  whitesmoke;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 200px 15px 200px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.aboutus {
  margin-top: 10px;
}

.aboutus p {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 1.2em;
}

.us {
  display:flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  border: solid 1px whitesmoke;
  padding-bottom: 10px;
}

/* FOTOS Y DESCRIPCIONES */

.primera {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.foto {
  height: 150px;
  width: 150px;
  border-radius: 150px;
}

.uno {
  background-image: url('img/aboutUs mari.png');
}

.primera p {
  width: 50vw;
  margin-left: 15px;  
}

.dos {
  background-image: url('img/aboutUs Cata.png');
  
}

.tres {
  background-image: url('img/Tercera2.png');
  width: 100%;

}

.cuatro {
  background-image: url('img/Cuarta2.jpg');
  
}

/* FOOTER */

footer {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  height: 6w;
  background-color:  whitesmoke;
  font-size: 1em;
  bottom: 0px;
  margin-top: 10px;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 5vw;
}

.datos {
  margin: 10px;
  text-align: center;
}

.RRSS {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
}

footer .logo {
  height: 3vw;
}
/* BUTTON */

.buttons {
  display: flex;
  flex-direction: column;
  list-style: none;/*
  margin-left: auto;*/
  margin-right: 50px;
  text-align: center;
}

.button {
  border: 1px solid #dcdcdf;
  border-radius: 5px;
  background-color: #eae8fc;
  height: 20px;
  width: 150px;
  margin: 10px;
  padding: 5px;
  -webkit-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  -moz-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
}
