/* latin-ext */
@font-face {
  font-family: 'Text Me One';
  font-style: normal;
  font-weight: 400;
  src: local('Text Me One'), local('TextMeOne-Regular'), url(https://fonts.gstatic.com/s/textmeone/v5/i7dOIFdlayuLUvgoFvHQFVZVYFeCGg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Text Me One';
  font-style: normal;
  font-weight: 400;
  src: local('Text Me One'), local('TextMeOne-Regular'), url(https://fonts.gstatic.com/s/textmeone/v5/i7dOIFdlayuLUvgoFvHQFVZbYFc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
    background-image: url(img/BackgroundImage.jpg);
    font-family: 'Text Me One', sans-serif;   
    background-size:cover;       
    margin: 0px;
    padding: 0px;
}

/* HEADER*/

header {
  display: flex;  
  align-items: center;
  justify-content: flex-start;
  height: 6w;
  background-color:  whitesmoke;
  font-size: 1.2em;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(156,156,156,1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(156,156,156,1);
  box-shadow: 0px 2px 5px 0px rgba(156,156,156,1);
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 4vw;
}

.index {
  display:flex;
  justify-content: space-around;
  align-items: center;
  width: 10vw;
  padding: 5px;
  margin-top: 2px;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin-left: auto;
  margin-right: 60px;
  width: 40vw;
}

.list li {
    display: flex;
    justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
}

/* termina HEADER*/

.title {
  display: flex;
  justify-content: center;
  background-color:  whitesmoke;
  margin: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  -moz-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  margin-top: 15px;

} 

.flex-container2{
    display: flex;
    flex-direction: column;
    color: black;
    font-weight: bold;
    margin: 10px;
    border-radius: 20px;
    justify-content: flex-end;
    align-items: center
}

.formrow{
    display: flex;
    justify-content: flex-end;
    border-radius: 20px;
    border: none;
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    background-color: rgb(222, 232, 233);
    font-family: 'Text Me One', sans-serif;   
    -webkit-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
    -moz-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
    box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);

}

::placeholder { 
  opacity:1000;
  font-family: 'Text Me One', sans-serif;  

} 

textarea[type=text] {
background-color: rgb(222, 232, 233);
-webkit-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
-moz-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
margin: 3px;
}

.flex-container3{
  display: flex;
  justify-content: center;
}

input[type=submit] {
  border: 1px solid #dcdcdf;
  border-radius: 5px;
  background-color: #eae8fc;
    height: 30px;
    width: 150px;
    -webkit-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
    -moz-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
    box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
    
    font-family: 'Text Me One', sans-serif;   

  margin: 2% 0 10% 0 ;
  }

  #mapa img{height: 70%;}

  #mapa{border: black solid 3px;}
  
  .form{ display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
  
  .wrapper{
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2% 30%;
  }
 /* FOOTER */


footer {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  height: 6w;
  background-color:  whitesmoke;
  font-size: 1em;
  bottom: 0px;
  margin: 10px 0 0 0:
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 5vw;
}

.datos {
  margin: 10px;
  text-align: center;
}

.RRSS {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
}

footer .logo {
  height: 3vw;
}
/* BUTTON */

.buttons {
  display: flex;
  flex-direction: column;
  list-style: none;/*
  margin-left: auto;*/
  margin-right: 50px;
  text-align: center;
}

.button {
  border: 1px solid #dcdcdf;
  border-radius: 5px;
  background-color: #eae8fc;
  height: 20px;
  width: 150px;
  margin: 10px;
  padding: 5px;
  -webkit-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  -moz-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
}
