
body {
    background-image: url(BackgroundImage.jpg);
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* HEADER*/

header {
  display: flex;  
  align-items: center;
  justify-content: flex-start;
  height: 6w;
  background-color: rgb(222, 232, 233);
  font-size: 1.2em;
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 5vw;
}


header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin-left: auto;
  margin-right: 60px;
  width: 40vw;
}

.list li {
    display: flex;
    justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
}

/* termina HEADER*/

.flex-container{
  display: flex;
  flex-direction: column;
  align-content: baseline;
  margin:13px
}

#c2, #c4{
  display: flex;
  flex-direction: column;
  margin-right: -500px
}

.testimonio{
    background-color: rgba(255, 255, 0, 0.863);
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 0px rgb(238, 238, 113);
    padding: 30px
}

.testimonio {
    width: 400px;
    height: 130px;
    text-align: center;
    font-size: 2em;
    position: relative;
  }
  
  .testimonio::before {
    content: " “ ";
    color: black;
    position: absolute;
    top: 00px;
    left: -10px;
    width: 60px;
    font-size: 250%
  }
  
  .testimonio:after{
    content: " ” ";
    color: black;
    position: absolute;
    bottom: -60px;
    right: -10px;
    width: 60px;
    font-size: 250%
  }
  
  .testimonio:first-letter {
    color:black;
    font-size: 150%
    }
 
    #t2, #t4{
      left:900px
    }

    /* FOOTER */

footer {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  height: 6w;
  background-color:  rgb(222, 232, 233);
  font-size: 1em;
  bottom: 0px;
  margin-top: 10px;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 5vw;
}

.datos {
  margin: 10px;
  text-align: center;
}
/* BUTTON */

.buttons {
  display: flex;
  flex-direction: column;
  list-style: none;/*
  margin-left: auto;*/
  margin-right: 50px;
  text-align: center;
}

.button {
  border: 1px solid #625D85;
  border-radius: 5px;
  background-color: #625D85;
  height: 20px;
  width: 150px;
  margin: 10px;
  padding: 5px;
}


    /*@media only screen and (min-device-width : 667px) and (max-device-width : 768px) {
      .flex-container{
          display: flex;
          flex-direction: column;
          justify-content: space-between
      }

  
      .testimonio{
          display: flex;
          min-height: 100px;
          width: 100px;
          color: white;
          margin-left: 30px;
          margin-right: 30px;
          margin-bottom: 40px;
          align-items: center;
          justify-content: center
          
          }
  
   }
  
  @media only screen and (min-device-width: 300px) and (max-device-width: 750px) and (-webkit-min-device-pixel-ratio: 2) {
      .flex-container{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
      }
  
  }
  */

