
/* cyrillic-ext */
@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(https://fonts.gstatic.com/s/ptsansnarrow/v9/BngRUXNadjH0qYEzV7ab-oWlsbCLwR26eg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(https://fonts.gstatic.com/s/ptsansnarrow/v9/BngRUXNadjH0qYEzV7ab-oWlsbCCwR26eg.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* latin-ext */
  @font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(https://fonts.gstatic.com/s/ptsansnarrow/v9/BngRUXNadjH0qYEzV7ab-oWlsbCIwR26eg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(https://fonts.gstatic.com/s/ptsansnarrow/v9/BngRUXNadjH0qYEzV7ab-oWlsbCGwR0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    background: url("BackgroundImage.jpg");
    font-family: 'PT Sans Narrow';    
  margin: 0px;
  padding: 0px;

}

/* HEADER*/

header {
  display: flex;  
  align-items: center;
  justify-content: flex-start;
  height: 6w;
  background-color:  rgb(222, 232, 233);
  font-size: 1.2em;
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 5vw;
}


header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin-left: auto;
  margin-right: 60px;
  width: 40vw;
}

.list li {
    display: flex;
    justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
}

/* ABOUT US */

.aboutus {
    background-color: rgb(222, 232, 233);
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-left:200px;
    margin-right: 200px;
}
.aboutus h1 {
    padding: 10px;
}

.aboutus p {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 1.2em;
}

.us {
  background-color: rgb(222, 232, 233);
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  margin-left:200px;
  margin-right: 200px;
  height: auto;
}

/* PRIMERA FOTO */

.primera {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.foto1 {
  background-color: black;
  background-image: url('Primera2.jpg');
  height: 150px;
  width: 150px;
  border-radius: 150px;
}

.primera p {
  width: 50vw;
}

/* SEGUNDA FOTO */

.segunda {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.foto2 {
  background-color: black;
  background-image: url('Segunda2.png');
  height: 150px;
  width: 150px;
  border-radius: 150px;
}

.segunda p {
  width: 50vw;
}

/* TERCERA FOTO */

.tercera {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.foto3 {
  background-color: black;
  background-image: url('Tercera2.png');
  height: 150px;
  width: 150px;
  border-radius: 150px;
}

.tercera p {
  width: 50vw;
}

/* CUARTA FOTO */

.cuarta {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.foto4 {
  background-color: black;
  background-image: url('Cuarta2.jpg');
  height: 150px;
  width: 150px;
  border-radius: 150px;
}

.cuarta p {
  width: 50vw;
}

/* FOOTER */

footer {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  height: 6w;
  background-color:  rgb(222, 232, 233);
  font-size: 1em;
  bottom: 0px;
  margin-top: 10px;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 5vw;
}

.datos {
  margin: 10px;
  text-align: center;
}
/* BUTTON */

.buttons {
  display: flex;
  flex-direction: column;
  list-style: none;/*
  margin-left: auto;*/
  margin-right: 50px;
  text-align: center;
}

.button {
  border: 1px solid #625D85;
  border-radius: 5px;
  background-color: #625D85;
  height: 20px;
  width: 150px;
  margin: 10px;
  padding: 5px;
}