@import url('https://fonts.googleapis.com/css?family=Text+Me+One');

body {
    background-image: url(img/BackgroundImage.jpg);
    font-family: 'Text Me One', sans-serif;   
    background-size:cover;           
    margin: 0px;
}

/* HEADER*/

header {
  display: flex;  
  align-items: center;
  justify-content: flex-start;
  height: 6w;
  background-color:  whitesmoke;
  font-size: 1.2em;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(156,156,156,1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(156,156,156,1);
  box-shadow: 0px 2px 5px 0px rgba(156,156,156,1);
  z-index: 1;
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 4vw;
}

.index {
  display:flex;
  justify-content: space-around;
  align-items: center;
  width: 10vw;
  padding: 5px;
  margin-top: 2px;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin-left: auto;
  margin-right: 60px;
  width: 40vw;
}

.list li {
    display: flex;
    justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
}

/* termina HEADER*/

.title { 
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  margin: 35px 400px 15px 400px;
  /* para que se vea bien en otros navegadores*/
  -webkit-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  -moz-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
} 

.flex-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.testimonio{
    background-color: #d49cee;
    opacity: 0.9;
    margin: 10px;
    border-radius: 20px;
    padding: 30px;
    border: 6px solid grey;
    line-height: 60px;
    width: 45vw;
    height: auto; 
    text-align: center;
    font-size: 1.1em;
    position: relative;
    font-weight: bold;
}

.testimonioIzquierda{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 45px;
}

.testimonioDerecha{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 45px;
}

  .testimonio::before { 
    content: " “ ";
    color: black;
    position: absolute;
    top: 10px;
    left: -15px;
    width: 60px;
    font-size: 250%
  }
  
  .testimonio:after{
    content: " ” ";
    color: black;
    position: absolute;
    bottom: -20px;
    right: 10px;
    width: 60px;
    font-size: 250%
  }
  
  .testimonio:first-letter {
    color:black;
    font-size: 150%
    }

    #t2 {
      background-color: #b1abeb;
    }

    #t3 {
      background-color: #9fc5f0;
    }

    #t4 {
      background-color: #8ef1cb;
    }

 /* FOOTER */

footer {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  height: 6w;
  background-color:  whitesmoke;
  font-size: 1em;
  bottom: 0px;
  margin-top: 10px;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 5vw;
}

.datos {
  margin: 10px;
  text-align: center;
}

.RRSS {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
}

footer .logo {
  height: 3vw;
}

/* BUTTON */

.buttons {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-right: 50px;
  text-align: center;
}

.button {
  border: 1px solid #dcdcdf;
  border-radius: 5px;
  background-color: #eae8fc;
  height: 20px;
  width: 150px;
  margin: 10px;
  padding: 5px;
  /* para que se vea bien en otros navegadores*/
  -webkit-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  -moz-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
}



@media only screen and (min-device-width : 667px) and (max-device-width : 768px) {
  #t1 {
    background-color: rgb(23, 153, 136);
  }

  #t2 {
    background-color:rgb(240, 231, 114);
  }

  #t3 {
    background-color: rgb(64, 228, 187);
  }

  #t4 {
    background-color: rgb(224, 120, 89);
  }

}

@media only screen and (min-device-width: 300px) and (max-device-width: 750px) and (-webkit-min-device-pixel-ratio: 2) {
  
  .testimonioIzquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px
  }

  .testimonioDerecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px
  }
  
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  /* Styles */

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin: auto;
    width: 90%;
    padding: 2vw;
    border-top: 1px solid grey;
  }

  .list li {
    display: flex;
    justify-content: space-around;
}

.title {
  margin-right: auto;
  margin-left: auto;
  width: 50vw;
} 

footer {
  min-height: 150px;
  width: 100vw;
 }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* Styles */

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: static;
  }

  header ul {
    flex-direction: column;
    justify-content: center;
    list-style: none;
    width: 90%;
    margin-top: 0px; 
    padding: 2vw;
    margin: auto;
  }

  .logo { 
    padding-right: 8px;
  }

  .list li {
    justify-content: space-around;
    padding: 5px;
    margin: 4px;     
    border-top: 1px solid grey;

}

.title {
  margin-right: auto;
  margin-left: auto;
  width: 50vw;
} 

footer {
 min-height: 100px;
 width: 100vw;
}

.datos {
  display:none;
}
}