body {
  background-image: url(Backgroundimage.jpg);
  margin:0;
}

@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");

#banner {
  width: 60%;
  margin: 0;
  padding: 0;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 50%;
  text-align: center;
  border: rgb(222, 232, 233) solid 4px;
  background-color: rgb(222, 232, 233);
  border-radius: 10px;
}

#contenedor1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(222, 232, 233);
  margin: 0;
  text-align: center;
  align-items: center;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 300%;
  height: 70%;
  margin-bottom: 0;
}
#imagen {
  width: 50%;
}

#holaMundo {
  padding-right: 20%;
}

#imagen img {
  height: 100%;
  width: 100%;
}

#contenedor2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(222, 232, 233);
  margin: 0;
  text-align: center;
  align-items: center;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 100%;
  height: 30%;
}

#contenedor2 div {
  width: 30%;
  border: #016386 solid 2px;
  border-radius: 30px;
  background-color: rgb(222, 232, 233);
  height: 40%;
  padding-top: 2%;
}

#contenedor3 {
  border-radius: 10px;
  background-color: rgb(222, 232, 233);
  margin: 0;
  margin-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenedorCaja {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20%;
    background-color: rgb(222, 232, 233);
    margin: 0;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    
    

}

.contenedorCaja.uno{
    padding: 0%;
    padding-top:5%;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: grey solid 1px;

}

.contenedorCaja.dos{
    padding: 0%;
    padding-bottom: 5%;
}

#caja1{
    height: 100%;
    width: 50%;
    border-right: grey solid 1px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 200%;
}
#caja1 img {
    height: 50%;
}

#caja2 img{
    height: 40%;
}


#caja2{
    height: 100%;
    width: 50%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 200%;
    
}


#caja3{
    height: 100%;
    width: 50%;
    border-right: grey solid 1px;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 200%;
    padding-top: 5%;

    
}

#caja3 img{
    height: 50%;
}
#caja4{
    height: 100%;
    width: 50%;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 200%;

    
}

/* FOOTER */

footer {
    display: flex;  
    align-items: center;
    justify-content: space-between;
    height: 6w;
    background-color:  rgb(222, 232, 233);
    font-size: 1em;
    bottom: 0px;
    margin-top: 10px;
  }
  
  footer a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    height: 5vw;
  }
  
  .datos {
    margin: 10px;
    text-align: center;
  }
  /* BUTTON */
  
  .buttons {
    display: flex;
    flex-direction: column;
    list-style: none;/*
    margin-left: auto;*/
    margin-right: 50px;
    text-align: center;
  }
  
  .button {
    border: 1px solid #625D85;
    border-radius: 5px;
    background-color: #625D85;
    height: 20px;
    width: 150px;
    margin: 10px;
    padding: 5px;
  }