@import url('https://fonts.googleapis.com/css?family=Text+Me+One');
body {
  margin: 0;
  padding: 0;
  background-image: url("img/BackgroundImage.jpg");
  font-family: 'Text Me One', sans-serif;
}

#wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parallax {
  margin: 0;
  padding: 0;
  background-image: url("img/codigo.jpg");
  height: 1200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#banner {
  width: 30%;
  height: 20%;
  padding: 0 5%;
  margin: 10% 30% 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: whitesmoke solid 4px;
  background-color: whitesmoke;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-family: 'Text Me One', sans-serif;
  font-size: 300%;
}

a {
  outline: none;
  color: black;
  text-decoration: none;
}

#imagen {
  width: 30%;
  padding: 5%;
}

#holaMundo {
  padding: 5% 0;
  width: 70%;
  font-size: 130%;
}

#contenedorLinks {
  width: 60%;
  height: 30%;
  background-color: whitesmoke;
  border: whitesmoke solid 2px;
  padding: 0;
  margin: 0 20% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.contenedorCaja {
  display: flex;
  justify-content: space-around;
  height: 50%;
  padding: 0 5% 0;
  background-color: whitesmoke;
}

.contenedorCaja.uno {
  padding: 5% 0 0;
  margin: 10px 5% 0;
  border-bottom: grey solid 1px;
}

.contenedorCaja.dos { padding: 0 0 5%; margin: 0 0 10px; }

.caja {
  width: 50%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 180%;
}


.caja.uno { border-right: grey solid 1px; }
.caja.uno img { height: 30%; margin-bottom: 4%; }

.caja.dos img { height: 22%; margin-top: 4%; padding-bottom: 6%; }

.caja.tres { border-right: grey solid 1px;}
.caja.tres img { height: 22%; margin-bottom: 4%; padding-top: 5%; }
 
.caja.cuatro img { height: 22%; margin-top: 4%; padding-bottom: 6%; padding-right: 10%;}
.caja.cuatro p {padding-right: 10%;}


.metricas {
  margin-top: 0;
  width: 100%;
  background-color: whitesmoke;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 0 0;
}

.sociales {
  padding: 0;
  height: 10%;
  width: 100%;
  font-size: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-bottom: 5%;
  margin-bottom: 10%;
  background-color: whitesmoke;
}

.contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  width: 70%;
  height: 50%;
}

p {
  margin: 0;
  
}

.icono {
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 3em;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}

.texto {
  padding: 0;
  font-size: 4em;
  width: 70%;
  height: 20%;
  padding-bottom: 1%;
}

.sociales img {
  height: 50%;
  padding-right: 2%;
}

.cajita {
  height: 60%;
  margin: 0 2%;
  width: 15%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.cajita.uno {
  background-color: #edd0ec;
}

.cajita img {
  height: 50%;
}

.cajita.dos {
  background-color: #d49cee;
}
.cajita.tres {
  background-color: #b1abeb;
}
.cajita.cuatro {
  background-color: #9fc5f0;
}
.cajita.cinco {
  background-color: #8ef1cb;
}

/* FOOTER */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6w;
  background-color: whitesmoke;
  font-size: 1em;
  bottom: 0px;
  margin-top: 10px;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 4vw;
  padding: 2px;
}

.datos {
  margin: 10px;
  text-align: center;
}
/* BUTTON */

.button {
  border: 1px solid #dcdcdf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #eae8fc;
  height: 20px;
  width: 150px;
  margin: 10px;
  padding: 5px;
  -webkit-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  -moz-box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
  box-shadow: 4px 4px 8px 1px rgba(156,156,156,1);
}

.buttons {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-right: 50px;
  text-align: center;
}
 

/* @media (max-width: 1000px){
   .contenedor.metricas{display: none;}
   #contenedorLinks{height: 50%;}
   #banner{margin:0 0 10% 0; padding: 0;height: 30%; width: 80%; font-size: 400%;}
   #imagen img{height: 50%;}
   footer{height: 30%;}
} */

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  /* Styles */

  .metricas{
    display: none;
  }
  
  #banner {
    margin: 40px  0 10% 0; 
    padding: 0;
    height: auto; 
    width: 50%; 
    font-size: 2em;
  }
  
  #imagen {
    width: 15%;
  }
   
  footer {
    min-height: 100px;
    width: 100%;
    justify-content: center;
   }
   
   .datos {
     display: none;
   }
  
   .logo {
     display: none;
   }

   /*
   .contenedor {
     display: flex;
     flex-direction: column;
   }*/
  
   .sociales {
     width: 80%;
     height: 20%;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
     padding: 0px;
  
   }

   .icono img {
     width: 30px;
     height: 30px;
   }
   .icono {  
    padding-bottom: 25px;
   }
   .texto {
     padding: 0;
     height: 20px;
   }

   .parallax { 
     height: 1000px;
   }
  }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* Styles */
.metricas{
  display: none;
}*

#banner {
  margin: 40px  0 10% 0; 
  padding: 0;
  height: auto; 
  width: 50%; 
  font-size: 2em;
}

#imagen {
  width: 15%;
}
 
footer {
  min-height: 100px;
  width: 100%;
  justify-content: center;
 }
 
 .datos {
   display: none;
 }

 .logo {
   display: none;
 }
 .contenedor {
   display: flex;
   flex-direction: column;
 }

 .sociales {
   width: /*100vw*/80%;
   height: 32%;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   padding: 0px;

 }
.parallax {
  height: 1000px;
}
 .icono img {
   width: 30px;
   height: 30px;
 }
 .icono {

  padding-bottom: 13%;
 }
 .texto {
   padding: 0px;
   height: 20px;
 }
}